/*
span[data-test~="hint-sentence"] {
    color: white;
    pointer-events: none;
}
*/

.powerlingo-hint-sentence {
    color: white !important;
    pointer-events: none !important;
}

.powerlingo-hint-token {
    background-image: none !important;
}

/*
div[data-test~="hint-token"] {
    background-image: none;
}
*/